.NavigationBar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px 0;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  color: rgb(78, 77, 77);
  z-index: 50;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 2px 0px 3px rgb(233, 233, 233);
}

.NavigationBar h3 {
  margin-left: 3px;
}

.NavigationItems {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

a:active,
a.active {
  color: #5488c0;
}
