.Post {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 223, 223);
  box-shadow: 2px 2px 3px rgb(230, 228, 228);
  box-sizing: border-box;
  padding: 10px 0;
  margin: 30px auto;
  width: 90%;
  max-width: 580px;
  background-color: white;
  color: rgb(78, 77, 77);
}

.Post div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.profilePic {
  height: 33px;
  max-width: 33px;
  border-radius: 50%;
}

.name {
  text-align: left;
  margin: 0px 8px 0px;
  font-weight: bold;
  font-size: 0.9rem;
}

.Post img {
  width: 100%;
  border-bottom: 1px solid rgb(226, 223, 223);
  border-top: 1px solid rgb(226, 223, 223);
}

.title {
  text-align: left;
  margin: 0px 10px 2px;
  font-weight: 700;
  font-size: 0.9rem;
}

.content {
  text-align: left;
  margin: 0px 10px 5px;
  font-size: 0.9rem;
}
